
body {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 4em 1em;
    background-color: black;
    color: whitesmoke;
   }
  
   header{
  
    height: 16vh;
    width: 100%;
    max-width: 900px;
    margin: 20px 0px;  
   }
  
   .boton{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
   }
  
   .boton:hover{
    background: purple;
    color: turquoise ;
   }
  
   footer{
    height: 8vh;
    width: 100%;
    max-width: 900px;
    text-align: center;
    float: left;
  
   }


  
  
  